@import 'oldsite/css';
@import 'oldsite/front-styles';
@import 'oldsite/front-styles_2';
@import 'oldsite/style';
@import 'oldsite/tooltipster.bundle.min';
@import 'oldsite/nivo-lightbox';
@import 'oldsite/main';

.widget {
  margin-bottom: 15px;
  .textwidget {
    padding: 15px;
    p {
      margin-bottom: 14px;
      br {
        display: block;

        height: 10px;
      }
    }
  }
  .sb-title {
    float: none;
  }
  ul,
  ol,
  li {
    padding: 15px;

    list-style: none;
    li {
      padding: 0;
    }
  }
  form {
    padding: 15px;
    label {
      font-size: 13px !important;
      line-height: 17px !important;

      float: left !important;

      width: 100% !important;
      margin: 0 !important;

      color: #555555 !important;
    }
    textarea {
      font-family: 'Roboto',sans-serif !important;
      font-size: 13px !important;
      font-weight: 200 !important;
      font-style: italic !important;
      line-height: 17px !important;

      float: left !important;

      width: 100% !important;
      height: 100px !important;
      margin-bottom: 10px !important;
      padding: 10px !important;

      border: 2px solid #dedede !important;
      border-radius: 3px !important;
      outline: none !important;
      background: #ffffff !important;
    }
    .wpcf7-form-control-wrap {
      display: block;

      padding-top: 10px;
    }
    .wpcf7-submit {
      font-family: 'Roboto',sans-serif !important;
      font-size: 15px !important;
      line-height: 40px !important;

      position: relative !important;

      float: left !important;

      width: 100% !important;
      height: 40px !important;
      padding: 0 15px 0 15px !important;

      cursor: pointer !important;
      transition-duration: .2s !important;
      text-align: center !important;
      text-decoration: none !important;

      color: #ffffff !important;
      border: 0 !important;
      border-radius: 3px !important;
      outline: inherit !important;
      background: #236999 !important;
    }
  }
  &.widget_recent_comments {
    .comment-wrap {
      padding-left: 0 !important;
    }
    .comment-avatar {
      img {
        overflow: hidden;

        border-radius: 50%;
      }
    }
  }
}
.page-title {
  h1 {
    a {
      font-family: 'Exo 2',sans-serif;
      font-size: 18px;
      font-weight: 600;

      color: #ffffff;
      text-shadow: 0 1px 4px rgba(0,0,0,.8);
    }
  }
}
.load-more.end_of_posts {
  display: none;
}
.likes.voted {
  .icon {
    &:before {
      content: '\f004' !important;
    }
  }
  .title {
    color: #555555;
  }
}


.wpcf7-form-control.wpcf7-file {
  font-size: 80%;
}
.wpcf7-form-control-wrap {
  overflow: hidden;

  padding-top: 0 !important;
}
.styled-block {
  margin-bottom: 15px;
}
.styled-block + .styled-block {
  margin-top: 0;
}
label {
  @extend .clearfix;
}

.comment-form {
  display: flex;
  flex-direction: column;

  align-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  .comment-form-email,
  .comment-notes,
  .comment-form-url {
    display: none;
  }
  .comment-form-author {
    margin-bottom: 10px;
  }
  .form-submit {
    order: 2;
  }
  #comment-image-reloaded-wrapper {
    width: 100%;
    > p {
      width: 100%;
    }
    .comment-image-reloaded {
      img {
        position: relative !important;

        width: auto !important;
        height: auto !important;

        border: 0 !important;
        border-radius: 2px !important;
        box-shadow: none !important;
      }
    }
    label {
      font-weight: bold;

      display: block;

      padding-top: 15px;
    }
    .cir-link {
      display: none;
    }
  }
}


.wpcf7-form-control-wrap.acceptance {
  display: inline-block;
  float: left;

  margin-right: 5px;
}

@media (max-width: 767px) and (min-width: 0) {
  #footer {
    .block {
      width: 100%;
      padding: 0;

      text-align: left;
    }
  }
}
