
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=afc6b769969f76d2dab4e3984643bf4e
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress