
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=a351c8135ce63001fcfbd6d9ca3d2a48
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress